<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
  <test name="Test">
    <classes>
      <class name="testng_package.ToolsQATest"/>
      <class name="testng_package.AdactinTest"/>
      <class name="testng_package.AdactinTest_Two"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
